/* @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway&display=swap"); */

/* Custom styling Header and Navbar */
.custom-logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

.custom-navbar {
  background-color: #000;
}

.custom-nav {
  font-size: 14px;
}

main {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lora", serif;
  font-weight: bold;
  font-style: italic;
}

p {
  font-family: "Raleway", sans-serif;
}

/* h3 {
  padding: 1rem 0;
} */

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* CUSTOM "LANDING PAGE" */



/* CUSTOM STYLING ABOUT PAGE */

.custom-about-page {
  height: 100vh;
  padding: 5%;
  margin: auto;
  font-size: 16px;
}


/* CUSTOM STYLING LOG IN PAGE*/

/* Custom styling footer */
.footer-logo {
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer-custom-style {
  color: #ffffff;
  background-color: #000;
}

.custom-copyright {
  margin-top: 30px;
}

.custom-footer-headers {
  color: #ffffff;
}

.fab {
  color: #ffffff;
  padding: 10px;
  margin: auto;
}


