@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway&display=swap');


.body {
  font-family: 'Lora', serif;
  font-weight: bold;
  font-style: italic;
}

.home-background-img:before {

  background: rgba(255, 255, 255, 0.5);

}

main {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lora', serif;
  font-weight: bold;
  font-style: italic;
}

p {
  font-family: 'Raleway', sans-serif;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;

}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

